body{
  background-color:lightgray;
  
}
header{
 border:4px solid black;
 text-align:center;
 background-color:lightskyblue;
}
nav{
 border:3px solid black;
 background-color:mediumblue;
}
article{
 border:3px solid black;
 background-color:darkgoldenrod;
}
section{
 border:3px solid black;
 overflow:auto;
 background-color:darkviolet ;
}
details{
 border:3px solid black;
 background-color:lime;
 color:blueviolet;
}
footer{
 border:3px solid black;
 background-color:springgreen;
}
a{
  border:3px solid black;
  background-color:yellow;
}
form{
  border:3px solid black;
  background-color:blue;
  width:300px;
}
#details2{
 width:300px;
 color:red;
}
#highlight{
  background-color:yellow;
  border:2px dotted blue;
}
#texttoread{
  border:3px dashed greenyellow;
}
#headingT{
  color:chocolate;
}